# ===================================================
# ARQUIVOS DE SENHA E AMBIENTE (O MAIS IMPORTANTE)
# ===================================================
.env
*.env

# ===================================================
# DEPENDÊNCIAS (NÃO ENVIAR BIBLIOTECAS)
# ===================================================
# Python
venv/
.venv/
# Node.js
node_modules/

# ===================================================
# ARQUIVOS DE CACHE E DE SISTEMA
# ===================================================
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# macOS
.DS_Store
# Windows
Thumbs.db
# IDEs
.idea/
.vscode/

# ===================================================
# LOGS E DADOS DO USUÁRIO
# ===================================================
*.log
logs/
# Banco de dados principal (NÃO queremos o banco no Git)
*.db
# Backups
*.dump
/backups/
/backups_gestorsol/
# Arquivos de usuário
.uploads/
*.xlsx
*.zip
*.txt
!requirements.txt

# ===================================================
# ARQUIVOS DE BUILD (NOVAS REGRAS)
# ===================================================
# PyInstaller (Backend Build)
backend_api/build/
backend_api/dist/
backend_api/*.spec

# Electron (Frontend Build)
frontend_desktop/dist/
# (Não precisamos ignorar 'build/icon.ico', pois queremos ele no Git)